* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}

/* Signup form styles */

.login {
  text-align: center;
}
.loginHeader {
  /* object-fit: contain; */
  height: 100px;
}
.login__form {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}
.Login__input {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
}
/* @media (max-width: 482px) {
  .login {
    width: 100%;
    border: none;
  }
} */
/* end of styles */
